<section>
  <mat-card>
    <mat-card-title>
      <h1>Material Contact Form</h1>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="send()" class="form-container">
        <mat-form-field>
          <mat-label> Name </mat-label>
          <input formControlName="name" type="text" name="name" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label> Email </mat-label>
          <input matInput type="email" name="email" formControlName="email" />
        </mat-form-field>

        <mat-form-field>
          <mat-label> Message </mat-label>
          <textarea
            formControlName="message"
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary">Send</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
